.root{
	-fx-background-color: white;
}

#leftAnchor{
	-fx-background-color: #00FF7F;
	
}
#rightAnchor{
	
	
}
.text-field {
	-fx-accent: #00FF7F;
	-fx-background-color: #b9b9b9, white;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-background-radius: 0;
}
.text-field:focused {
	-fx-background-color: #007acc, white;
}
#labelMenu{
	-fx-text-fill: white;
	-fx-font-family:  Impact, fantasy;
	-fx-font-size: 20px;
	-fx-text-alignment: center;
}

.menu-button{
	-fx-background-color: #00FF7F;
	
}
.menu-button:hover{
	-fx-background-color: #00FA9A;
}
#labelConta, #labelOA, #labelGR, #labelEx{
	
	-fx-text-fill: white;
	-fx-font-family: 'Righteous', cursive;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	
}
.menu:hover, .menu-item:hover, .menu:focused, .menu-item:focused{
	-fx-background-color: #00FA9A;
}
#paginaRegistrarVenda{
	-fx-background-color:#00FF7F;
	-fx-text-fill: white;
	-fx-font-family: 'Righteous', cursive;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}
#paginaRegistrarVenda:hover{
	-fx-background-color: #00FA9A;
}
#labelTelaInicial1{
	 -fx-text-fill: #f2f2f2; 
	 -fx-font-family: 'Helvetica Neue', sans-serif;
	 -fx-font-size: 45px; 
	 -fx-font-weight: bold; 
	 -fx-text-alignment: center;
	 -fx-background-color: #00FF7F;
	 -fx-padding: 10px;
}
#labelTelaInicial2{
	 -fx-color: #111; 
	 -fx-font-family: 'Open Sans', sans-serif; 
	 -fx-font-size: 20px; 
	 -fx-font-weight: 300; 
	 -fx-text-alignment: center; 
}

#modoPagamento{
	
	-fx-background-color: transparent;
	-fx-border-color: #00FF7F;
	-fx-border-radius: 30px;
}
#modoPagamento:hover{
	-fx-background-color: #98FB98;
	-fx-border-radius: 30px;
}